{erl_first_files, ["src/plumtree_peer_behavior.erl"]}.
{erl_opts, [warnings_as_errors, debug_info, {parse_transform, lager_transform}]}.
{deps, [
        {lager, "2.*", {git, "git://github.com/basho/lager.git", {branch, "2.x"}}},
        {riak_dt, ".*", {git, "git://github.com/basho/riak_dt.git", {branch, "develop"}}},
        {eleveldb, "2.1.*", {git, "git://github.com/basho/eleveldb.git", {tag, "2.1.4"}}}
       ]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
